<footer>
    <div class="footer">
        <img class="alsokacsa" src="/img/alsokacsa.png" alt="alsokacsa">
        <div class="fcontent">
            <div class="fbox">
                <span class="txt">Copyright ©2022 All Rights Reserved.</span>
                <span class="me">Designed by Vántsa Alpár</span>
            </div>
            <div class="fbox2">
                <span class = "txt">Kövess minket</span>
                <a href = "https://www.instagram.com/weekend_lake_festival/" target = "_blank"><i class="fa-brands fa-instagram fa-2xl icon"></i></a>
                <a href = "https://www.facebook.com/weekend.lake.fest" target = "_blank"><i class="fa-brands fa-facebook fa-2xl icon"></i></a>
            </div>
        </div>
    </div>
</footer>