<header>
    <div class="header">
        <div class="timercontainer">
            <p id="timer"></p>
        </div>
        <nav class="menu">
            <ul class="navbar">
                <li class="current"><a class = "navlink" href="/">Főoldal</a></li>
                <li><a class = "navlink" href="/fellepok">Fellépők</a></li>
                <li><a class = "navlink" href="/jegyek">Jegyek</a></li>
                <li><a class = "navlink" href="/kepregeny">Képregény</a></li>
                <li><a class = "navlink" href="javascript:scrollFunction()">Rólunk</a></li>
                <li><a class = "navlink" href="/kapcsolat">Kapcsolat</a></li>
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
        <img class="logo" src="/img/mainlogo.png" alt="logo">
    </div>
    <div class="mobilemenu">
        <ul class="mnavbar">
            <li><a href="/">Főoldal</a></li>
            <li><a href="/fellepok">Fellépők</a></li>
            <li><a href="/jegyek">Jegyek</a></li>
            <li><a href="/kepregeny">Képregény</a></li>
            <li><a href="javascript:scrollFunction()">Rólunk</a></li>
            <li><a href="/kapcsolat">Kapcsolat</a></li>
        </ul>
        <a href="#" class="close2"></a>
    </div>
</header>