<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="/img/tlogo.jpg" type="image">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="felstyle.css">
    <link rel="stylesheet" href="/headerc.css">
    <link rel="stylesheet" href="/footerc.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weekend Lake Fesztivál</title>
</head>
{{> header}}
<body>
    <div class="loader">
        <div class="bounce">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <h2>Katt a képre és hallgass bele</h2>
    <div class="galeria">       
        <div class="container">
            <div class="box">
                <div class="elem">
                    <img class="kep" src = "/img/byealex.jpg" data-url="https://www.youtube.com/embed/hdUROSG0bcw">
                    <h3>ByeAlex és a Slepp</h3>
                    <!-- <p>ha kell valami az itt van</p> -->
                </div>
                <div class="elem">
                    <img class= "kep" src = "/img/paulina.jpg" data-url="https://www.youtube.com/embed/HVKLblxNpWI">
                    <h3>Paulina</h3>
                    <!-- <p>ha kell valami az itt van</p> -->
                </div>
                <div class="elem">
                    <img class="kep" src = "/img/biebers.jpg" data-url="https://www.youtube.com/embed/9fb4QFSBoJo">
                    <h3>The Biebers</h3>
                    <!-- <p>ha kell valami az itt van</p> -->
                </div>
                <div class="elem">
                    <img class="kep" src = "/img/manuel.jpg" data-url="https://www.youtube.com/embed/QO-zDh1s6VA">
                    <h3>Manuel</h3>
                    <!-- <p>ha kell valami az itt van</p> -->
                </div>
                <div class="elem">
                    <img class="kep" src = "/img/lilg.jpg" data-url="https://www.youtube.com/embed/ssCIcaFaEgM">
                    <h3>Lil G</h3>
                    <!-- <p>ha kell valami az itt van</p> -->
                </div>
                <div class="elem">
                    <img  class="kep" src = "/img/4sstreet.jpg" data-url="https://www.youtube.com/embed/0ElyzQ5TeCA">
                    <h3>4S Street</h3>
                    <!-- <p>ha kell valami az itt van</p> -->
                </div>
                <div class="elem">
                    <img class="kep" src = "/img/holy.jpg" data-url="https://www.youtube.com/embed/YMdK5C_nwuc">
                    <h3>Holychicks</h3>
                    <!-- <p>ha kell valami az itt van</p> -->
                </div>
                <div class="elem">
                    <img  class="kep" src = "/img/brny.jpg" data-url="https://www.youtube.com/embed/SyXefBS4d7o">
                    <h3>DJ BRNY</h3>
                    <!-- <p>ha kell valami az itt van</p> -->
                </div>
                <div class="elem">
                    <img  class="kep" src = "/img/teddy.jpg" data-url="https://www.youtube.com/embed/xjpT-kzEe3c">
                    <h3>Teddy Queen</h3>
                    <!-- <p>ha kell valami az itt van</p> -->
                </div>
                <div class="elem">
                    <img class="kep" src = "/img/kaer.jpg" data-url="https://www.youtube.com/embed/ubg88_AGlfk">
                    <h3>KaéR és Kapriccio</h3>
                    <!-- <p>ha kell valami az itt van</p> -->
                </div>
                <div class="elem">
                    <img class="kep" src = "/img/patikadomb.jpg" data-url="https://www.youtube.com/embed/LaGIqPEZuVs">
                    <h3>Patikadomb</h3>
                    <!-- <p>ha kell valami az itt van</p> -->
                </div>
            </div>
        </div>
    </div>
    <h2 class = "dj">DJ CHALLENGE nyertesei</h2>
    <div class="galeria2">
        <div class="container">
            <div class="box">
                <div class="elem">
                    <img src = "/img/gabos.jpg">
                    <h3>Gabos</h3>
                </div>
                <div class="elem">
                    <img src = "/img/zsoltee.jpg">
                    <h3>Zsoltee</h3>
                </div>
                <div class="elem">
                    <img src = "/img/boost.jpg">
                    <h3>Boost</h3>
                </div>
                <div class="elem">
                    <img src = "/img/keyer.jpg">
                    <h3>Keyer</h3>
                </div>
                <div class="elem">
                    <img src = "/img/cleas.jpg">
                    <h3>Cleas</h3>
                </div>
                <div class="elem">
                    <img src = "/img/rylex.jpg">
                    <h3>Rylex</h3>
                </div>
                <div class="elem">
                    <img src = "/img/roger.jpg">
                    <h3>Roger</h3>
                </div>
                <div class="elem">
                    <img src = "/img/sophilia.jpg">
                    <h3>Sophilia</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="popup-video">
        <iframe width="1118" height="629" src="https://www.youtube.com/embed/hdUROSG0bcw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="/app.js"></script>
    <script src="/videopopup.js"></script> 
    <script src ="/hambmenu.js"></script>
</body>
{{> footer}}
</html>