<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="jegystyle.css">
    <link rel="stylesheet" href="/headerc.css">
    <link rel="stylesheet" href="/footerc.css">
    <link rel="icon" href="/img/tlogo.jpg" type="image">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>Weekend Lake Fesztivál</title>
</head>
    {{> header}}
<body>
    <h2>Jelenlegi Ajánlatunk : GOOD DUCK 120 RON<br>Vásárolj jegyet</h2>
    <div class="container">
        <div class="box3">
            <h3>Online</h3>
            <a class = "btn" href="https://www.bilete.ro/weekend-lake-festival/" target="_blank">Katt Ide</a>
        </div>
        <div class="box2">
            <h3>vagy..</h3>
        </div>
        <div class="box">
            <table>
                <tr>
                    <th class ="left">Helyszín</th>
                    <th>Elérhetőség</th>
                </tr>
                <tr>
                    <td data-label = "Helyszín"><i class="fa fa-location-arrow" aria-hidden="true"></i>
                    </i>Csíkszereda</td>
                    <td data-label = "Elérhetőség:">0743-784.529</td>
                </tr>
                <tr>
                    <td data-label = "Helyszín"><i class="fa fa-location-arrow" aria-hidden="true"></i>Csíkszenttamás</td>
                    <td data-label = "Elérhetőség:">0742-043.608</td>
                </tr>
                <tr>
                    <td data-label = "Helyszín"><i class="fa fa-location-arrow" aria-hidden="true"></i>Csíkszentdomokos</td>
                    <td data-label = "Elérhetőség:">0755-812.019</td>
                </tr>
                <tr>
                    <td class = "lleft" data-label = "Helyszín"><i class="fa fa-location-arrow" aria-hidden="true"></i>Székelyudvarhely</td>
                    <td class = "rright" data-label = "Elérhetőség:">0757-618.804</td>
                </tr>
            </table>
        </div> 
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="/app.js"></script>
    <script src ="/hambmenu.js"></script>
</body>
{{> footer}}
</html>