<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/tlogo.jpg" type="image">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="kastyle.css">
    <link rel="stylesheet" href="/headerc.css">
    <link rel="stylesheet" href="/footerc.css">
    <title>Weekend Lake Fesztivál</title>
</head>
{{> header }}
<body>
    <h2>Kapcsolat</h2>
    <section id="kapcsolat">
      <div class="elerhetoseg">
        <h4>WEEKEND LAKE FESZTIVÁL</h4>
          <div class="eadat">
            <h5><br>Főszervező</h5>
            <p>Teutsch Tamás<br>teutschtamas@yahoo.com</p>
            <h5><br>Gyártásvezető</h5>
            <p>Martini István Csongor<br>istvan688@gmail.com</p>
          </div>
        </div>
        <div class="kapcsolat-box">
          <div class="kapcsolat-bal">
            <h3>Kérdésed van ?</h3><h3> Mi segítünk !</h3>
            <div class="links">
              <div class="link">
                <a href="https://www.facebook.com/weekend.lake.fest" target = "_blank"><img src="img/face.png" alt="face"></a>
              </div>
              <div class="link">
                <a href="https://www.instagram.com/weekend_lake_festival/" target = "_blank"><img src="img/insta.png" alt="insta"></a>
              </div>
            </div>
            <p>weekendlakefestival@gmail.com</p>
          </div>
          <div class="kapcsolat-jobb">
            <form action="https://sheetdb.io/api/v1/v7semsl0cpk74" method="post" id="sheetdb-form"  >
              <div class="form-item">
                <input type="text" name="Név" required>
                <label>Név:</label>
              </div>
              <div class="form-item">
                <input type="email" name="Email" required>
                <label>Email:</label>
              </div>
              <div class="form-item">
                <textarea class="textarea" name="Megjegyzés" required></textarea>
                <label>Üzenet:</label>
              </div>
              <button class="submit">Küldés</button>
            </form>
          </div>
        </div>   
      </section>
      <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="/app.js"></script>
    <script src ="/hambmenu.js"></script>
    <script src = "/formjs.js"></script>
</body>
{{> footer}}
</html>